* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

.navbar {
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.2);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar .navbar-list {
    display: flex;
    align-items: center;
}

.navbar .navbar-list-item {
    padding: 0 16px;
    display: block;
}

.navbar .navbar-list-link {
    color: #000000;
    transition: color 0.4s;
}

.navbar .navbar-list-link:hover {
    color: #00BAFC;
}

.main-btn {
    background-color: #00BAFC;
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.main-btn:hover {
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,0.1);
}

.navbar .topnav-icon {
    display: none;
}

.topnav-icon-btn {
    padding: 5px 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.promo .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    padding-top: 120px;
}

.promo .promo-text-wrapper {
    width: 45%;
}

.promo-heading {
    font-size: 30px;
    line-height: 130%;
}

.section-text {
    padding: 16px 0;
    font-size: 16px;
    line-height: 24px;
}

.promo .promo-video {
    width: 45%;
}

.promo-video iframe {
    border-radius: 8px;
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0;
}

.section-title {
    font-size: 24px;
}

.services .section-text {
    width: 60%;
    text-align: center;
}

.services .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services .services-list-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
    margin: 25px 25px;
    width: 320px;
    height: 260px;
    transition: transform 0.5s;
    cursor: pointer;
}

.services .services-list-item:hover {
    transform: translate(5px, 10px);
}

.services .services-list-heading {
    margin: -20px 0;
    font-size: 20px;
}

.services .services-page-link {
    color: #00BAFC;
    text-decoration: underline;
    padding-left: 16px;
    font-size: 14px;
    transition: color 0.4s;
}

.services .services-page-link:hover {
    color: #0075a0;
}

.how-we-work .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0;
}

.how-we-work .section-text {
    text-align: center;
    width: 60%;
    padding-bottom: 16px;
}

.how-we-work .how-we-work-list {
    padding-bottom: 40px;
}

.how-we-work .step {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.how-we-work .step:hover {
    transform: translateY(-20px);
}

.how-we-work .step-description {
    width: 85%;
    padding-top: 8px;
}

.how-we-work li:nth-child(even) {
    flex-direction: row-reverse;
}

.how-we-work .step-image {
    padding-right: 32px;
}

.how-we-work li:nth-child(even) .step-image {
    padding-left: 32px;
    padding-right: 0;
}

.order-form {
    background-color: #00BAFC;
}

.order-form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 56px 0;
}

.order-form .section-title {
    color: #ffffff;
}

.order-form .section-text {
    color: #ffffffbb;
    width: 60%;
}

.order-form .order-form-row {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 24px 24px;
    border-radius: 5px;
    width: 300px;
}

.order-form-place {
    padding: 16px 16px;
    margin: 8px 0;
    background-color: #F3F3F3;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: #000000;
    outline: none;
}

.order-form-row .main-btn {
    margin: 0 45px;
    margin-top: 8px;
}

.footer {
    background-color: #191919;
}

.footer .footer-list-title {
    color: #ffffff;
}

.footer .footer-list-text {
    color: #ffffffbb;
    font-weight: 400;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 56px 0;
}

.footer .footer-list {
    width: 30%;
}

.footer-list .footer-list-text {
    width: 90%;
    font-size: 14px;
}

.footer-list .footer-list-title {
    padding-bottom: 16px;
}

.footer-list .footer-list-item {
    padding: 6px 0;
}

.footer-list-item i {
    padding-right: 4px;
}

.footer-list a:hover {
    color: #00BAFC;
}

@media screen and (max-width: 1024px) {
    
}